<link rel="stylesheet" href="{:config('public.tp5jump')}/layui/css/layui.css" />
<link rel="stylesheet" href="{:config('public.tp5jump')}/common.css" />
<div class="page-content">
    <div class="col-sm-6 pull-right">
    </div>
    <div class="page-header">
        <h1>
            {:model('menu')->getName()}             
        </h1>
    </div><!-- /.page-header -->
    <div class="row">
     <input type="hidden" value="{$copylist.rid}" id="copyid"/>
    <span style="color:red;margin-left:40px;">备注*必填</span>	  
    <form class="layui-form layui-form-labelsave" action="">          
    <div class="layui-col-xs12 layui-col-md6 layui-col-lg6">
		  <div class="layui-form-item">
		    <label class="layui-form-label">版权所有<span style="color:red;">*</span></label>
		    <div class="layui-input-block">
		      <input type="text" name="reserved" value="{$copylist.reserved}" lay-verify="required" placeholder="请输入版权" autocomplete="off" class="layui-input">
		    </div>
		  </div>
    </div>	
    
    <div class="layui-col-xs12 layui-col-md6 layui-col-lg6">
		  <div class="layui-form-item">
		    <label class="layui-form-label">域名备案号</label>
		    <div class="layui-input-block">
		      <input type="text" name="ipbeiannumber" value="{$copylist.ipbeiannumber}"  placeholder="请输入域名" autocomplete="off" class="layui-input">
		    </div>
		  </div>
    </div>	
    
     <div class="layui-col-xs12 layui-col-md6 layui-col-lg6">
		  <div class="layui-form-item">
		    <label class="layui-form-label">ip备案链接</label>
		    <div class="layui-input-block">
		      <input type="text" name="ipbeianhref" value="{$copylist.ipbeianhref}"   placeholder="请输入ip备案链接" autocomplete="off" class="layui-input">
		    </div>
		  </div>
    </div>	
    
    <div class="layui-col-xs12 layui-col-md6 layui-col-lg6">
		  <div class="layui-form-item">
		    <label class="layui-form-label">公安备案号</label>
		    <div class="layui-input-block">
		      <input type="text" name="policebeiannumber" value="{$copylist.policebeiannumber}"   placeholder="请输入公安备案号" autocomplete="off" class="layui-input">
		    </div>
		  </div>
    </div>	
    
     <div class="layui-col-xs12 layui-col-md6 layui-col-lg6">
		  <div class="layui-form-item">
		    <label class="layui-form-label">公安备案链接</label>
		    <div class="layui-input-block">
		      <input type="text" name="policebeianhref" value="{$copylist.policebeianhref}"   placeholder="请输入公安备案链接" autocomplete="off" class="layui-input">
		    </div>
		  </div>
    </div>	
    
      <div class="layui-col-xs12 layui-col-md6 layui-col-lg6">
		  <div class="layui-form-item">
		    <label class="layui-form-label">技术支持</label>
		    <div class="layui-input-block">
		      <input type="text" name="techsupport" value="{$copylist.techsupport}"   placeholder="请输入技术支持" autocomplete="off" class="layui-input">
		    </div>
		  </div>
    </div>	
    
     <div class="layui-col-xs12 layui-col-md6 layui-col-lg6">
		  <div class="layui-form-item">
		    <label class="layui-form-label">技术支持链接<span style="color:red;">*</span></label>
		    <div class="layui-input-block">
		      <input type="text" name="supporthref" value="{$copylist.supporthref}"   lay-verify="url" placeholder="请输入技术支持链接" autocomplete="off" class="layui-input">
		    </div>
		  </div>
    </div>	
    
     <div class="layui-col-xs12 layui-col-md6 layui-col-lg6">
		  <div class="layui-form-item">
		    <label class="layui-form-label">技术支持电话</label>
		    <div class="layui-input-block">
		      <input type="text" name="supportphone" value="{$copylist.supportphone}"   placeholder="请输入技术支持电话" autocomplete="off" class="layui-input">
		    </div>
		  </div>
    </div>	
     <div class="layui-col-xs12 layui-col-md6 layui-col-lg6">
		  <div class="layui-form-item">
		    <label class="layui-form-label">技术支持邮箱<span style="color:red;">*</span></label>
		    <div class="layui-input-block">
		      <input type="text" name="supportemail" value="{$copylist.supportemail}" lay-verify="email"  placeholder="请输入技术支持邮箱" autocomplete="off" class="layui-input">
		    </div>
		  </div>
    </div>	
    
    
      <div class="layui-col-xs6 layui-col-md6 layui-col-lg6">
		  <div class="layui-form-item layui-form-text">
    <label class="layui-form-label">备注：</label>   
    <div class="layui-input-block">
      <textarea name="remark" placeholder="请输入备注" class="layui-textarea">{$copylist.remark}</textarea>
    </div>
  </div>
    </div>	
      
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="copyrightinfo">更改版权信息</button>     
    </div>
  </div>
</form>   
    </div><!-- /.row -->
</div><!-- /.page-content -->
 <script src="{:config('public.tp5jump')}/layui/layui.js"></script>
 <script src="{:config('public.static')}/ace1.4/assets/js/jquery-2.1.4.min.js"></script> 
  <script src="{:config('public.tp5jump')}/common.js"></script> 
 <script src="{:config('public.tp5jump')}/copyrightinfo.js"></script> 


