<link rel="stylesheet" href="{:config('public.tp5jump')}/layui/css/layui.css" />
<link rel="stylesheet" href="{:config('public.tp5jump')}/common.css" />
<div class="page-content">
    <div class="col-sm-6 pull-right">
     <span class="btn btn-sm btn-primary pull-right">
            <a href="{:url('Teachers/index')}" style="color:white;text-decoration:none">返回上一页</a>
            <i class="icon-reply icon-only"></i>
        </span>
       <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = 'add'">
            添加
            <i class="icon-reply icon-only"></i>
        </span>
               
    </div>
    <div class="page-header">
        <h1>
            {:model('menu')->getName()}             
        </h1>
    </div><!-- /.page-header -->
    <div class="row">
    <div class="demoTable">		
		<div class="layui-inline">
			<input class="layui-input" name="key" id="demoReload"
				autocomplete="off" placeholder="请输入老师/手机号">
		</div>
		<button class="layui-btn" data-type="reload">搜索</button>
		<button class="layui-btn layui-btn-danger" data-type="getCheckid">批量删除</button>
	<a href="{:url('Teachercontact/index')}">
	    <button class="layui-btn  layui-btn-normal" >管理教师联系方式</button>
	</a> 
	<a href="{:url('Teacherintroduce/index')}">   
	    <button class="layui-btn  layui-btn-warm" >管理教师简历</button>
	 </a>
	</div>
   
    <table class="layui-hide" id="teachercontacttable" lay-filter="Idtable"></table>	
	<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
  </script>
   
    </div><!-- /.row -->
</div><!-- /.page-content -->
 <script src="{:config('public.tp5jump')}/layui/layui.js"></script>
 <script src="{:config('public.static')}/ace1.4/assets/js/jquery-2.1.4.min.js"></script> 
  <script src="{:config('public.tp5jump')}/common.js"></script> 
 <script src="{:config('public.tp5jump')}/teachercontact_index.js"></script> 


