<!-- 关闭layout模板 -->
{__NOLAYOUT__}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>简介</title>
<link rel="stylesheet" href="{:config('public.tp5jump')}/layui/css/layui.css" />
<link rel="stylesheet" href="{:config('public.tp5jump')}/common.css" />
</head>
<body>
<fieldset class="layui-elem-field">
  <legend>{$info.cnname} - 简介</legend>
  <div class="layui-field-box">
   {$info.introduce}
  </div>
</fieldset>

 <script src="{:config('public.tp5jump')}/layui/layui.js"></script>
</body>
</html>