<link rel="stylesheet" href="{:config('public.tp5jump')}/layui/css/layui.css" />
<link rel="stylesheet" href="{:config('public.tp5jump')}/common.css" />
<div class="page-content">
    <div class="col-sm-6 pull-right">
      <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.history.back();">
            返回上一页
            <i class="icon-reply icon-only"></i>
        </span>
    </div>
    <div class="page-header">
        <h1>
            {:model('menu')->getParentNname()}              
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {:input('rid')?'编辑':'新增'}
            </small>
        </h1>
    </div><!-- /.page-header -->
    <div class="row">
        <input type="hidden" id="teacherintroducerid" value="{$editone.rid}"/>
     <form class="layui-form layui-form-labelsave" action="">
     
     
     <div class="layui-col-xs12 layui-col-md6 layui-col-lg6">	  
		 <div class="layui-form-item">
		      <label class="layui-form-label">老师</label>
				    <div class="layui-input-block">
				      <select name="teacherid"  lay-verify="required">
				        <option value="">请选择老师</option>	
				        {foreach name="teacherslist" item="vo"}			        
				        <option value="{$vo.rid}"{eq name="vo.rid" value="$editone.teacherid"}selected{/eq}>{$vo.cnname}</option>
				        {/foreach}
				      </select>
				    </div>
		  </div>
		  
    </div>	
                                
     <div class="layui-col-xs12 layui-col-md6 layui-col-lg6">
		  <div class="layui-form-item">
		    <label class="layui-form-label">职称/奖励/证书</label>
		    <div class="layui-input-block">
		      <input type="text" name="positionaltitles" value="{$editone.positionaltitles}"  placeholder="职称/奖励/证书" autocomplete="off" class="layui-input">
		    </div>
		  </div>
     </div>	
    
     <div class="layui-col-xs12 layui-col-md6 layui-col-lg6">
		  <div class="layui-form-item">
		    <label class="layui-form-label">获奖日期</label>
		    <div class="layui-input-block">
		      <input type="text" name="evaluationdate" id="date" value="{$editone.evaluationdate}" lay-verify="date" placeholder="请输入获奖日期" autocomplete="off" class="layui-input">
		    </div>
		  </div>
    </div>
    	
    <div class="layui-col-xs12 layui-col-md6 layui-col-lg6">
		<div class="layui-form-item">                    
    <label class="layui-form-label">备注:</label>		    
     <div class="layui-input-block">
	    <input type="text" name="remark" value="{$editone.remark}"  placeholder="请输入备注" autocomplete="off" class="layui-input" autocomplete="off" class="layui-input">
	  </div>			    
  </div>
    </div>		
    	
     <div class="layui-col-xs12">
		<div class="layui-form-item">                    
    <label class="layui-form-label">事迹简介</label>		    
     <div class="layui-input-block">
	    <textarea name="introduce" placeholder="请输入事迹简介" class="layui-textarea">{$editone.introduce}</textarea>
	  </div>			    
  </div>
    </div>
    	          
        
     
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="teacherintroduce">{:input('rid')?'编辑':'新增'}简历</button>     
    </div>
  </div>
</form>   
        
    </div><!-- /.row -->
</div><!-- /.page-content -->
<script src="{:config('public.tp5jump')}/layui/layui.js"></script>
<script src="{:config('public.static')}/ace1.4/assets/js/jquery-2.1.4.min.js"></script> 
<script src="{:config('public.tp5jump')}/common.js"></script> 
<script src="{:config('public.tp5jump')}/teacherintroduce_add.js"></script>

